

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); /* font-family: "Noto Sans KR", sans-serif; */

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Pretendard-Thin.otf) format('opentype');
    src: url(../fonts/Pretendard-Thin.woff) format('woff');
    src: url(../fonts/Pretendard-Thin.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Pretendard-ExtraLight.otf) format('opentype');
    src: url(../fonts/Pretendard-ExtraLight.woff) format('woff');
    src: url(../fonts/Pretendard-ExtraLight.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Pretendard-Light.otf) format('opentype');
    src: url(../fonts/Pretendard-Light.woff) format('woff');
    src: url(../fonts/Pretendard-Light.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Pretendard-Regular.otf) format('opentype');
    src: url(../fonts/Pretendard-Regular.woff) format('woff');
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Pretendard-Medium.otf) format('opentype');
    src: url(../fonts/Pretendard-Medium.woff) format('woff');
    src: url(../fonts/Pretendard-Medium.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Pretendard-SemiBold.otf) format('opentype');
    src: url(../fonts/Pretendard-SemiBold.woff) format('woff');
    src: url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Pretendard-Bold.otf) format('opentype');
    src: url(../fonts/Pretendard-Bold.woff) format('woff');
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Pretendard-ExtraBold.otf) format('opentype');
    src: url(../fonts/Pretendard-ExtraBold.woff) format('woff');
    src: url(../fonts/Pretendard-ExtraBold.woff2) format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Pretendard-Black.otf) format('opentype');
    src: url(../fonts/Pretendard-Black.woff) format('woff');
    src: url(../fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'MYRIADPRO-BOLDCOND';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/MYRIADPRO-BOLD.OTF) format('opentype');
    src: url(../fonts/MYRIADPRO-BOLD.woff) format('woff');
    src: url(../fonts/MYRIADPRO-BOLD.woff2) format('woff2');
}



/* .pc { display: block; }
.tablet { display: none !important; }
.mobile { display: none !important; }

@media only all and (max-width: 1279px) {
    .pc { display: none !important; }
    .tablet { display: block; }
    .mobile { display: none !important; }
}

@media only all and (max-width: 767px) {
    .pc { display: none !important; }
    .tablet { display: none !important; }
    .mobile { display: block; }
} */

.pc_display { display: block; }
.mobile_display { display: none; }

@media only all and (max-width: 767px) {
    .pc_display { display: none; }
    .mobile_display { display: block; }
}